$bg-primary: #f8f9fa;
$text-primary: #000000;
$card-background: #fff;
$card-box-shadow: rgba(0, 0, 0, 0.08);
$skeleton-bg-color: #e0e0e0;
$skeleton-slide-color1: #f6f7f8;
$skeleton-slide-color2: #edeef1;

// Dark theme overrides
$bg-primary-dark: #222222;
$text-primary-dark: #f3f4f6;
$card-background-dark: #424242;
$card-box-shadow-dark: rgba(0, 0, 0, 0.5);
$skeleton-bg-color-dark: #5e5e5e;
$skeleton-slide-color1-dark: #7c7c7c;
$skeleton-slide-color2-dark: #727273;
